
/*===========page8==================*/
.headset-icon-CD-page8 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 8%;
  right: 4%;
  cursor: pointer;
}

.click-icon-page8-1 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 9%;
  right: -0.6%;
  cursor: pointer;
}
.click-icon-page8-2 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 35.5%;
  left: 81.7%;
  cursor: pointer;
}
.click-icon-page8-3 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 52.2%;
  left: 47.5%;
  cursor: pointer;
}

.click-icon-page8-4 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  bottom: 18.5%;
  left: 36.2%;
  cursor: pointer;
}

