.headset-icon-CD-unit4-page6-1 {
  position: absolute;
  padding: 5px;
  top: 4%;
  left: 36%;
  cursor: pointer;
}

.click-icon-unit4-page6-1 {
  position: absolute;
  padding: 5px;
  top: 3.2%;
  left: 44.5%;
  cursor: pointer;
}
.click-icon-unit4-page6-2 {
  position: absolute;
  padding: 5px;
  top: 35%;
  left: 53%;
  cursor: pointer;
}
.click-icon-unit4-page6-3 {
  position: absolute;
  padding: 5px;
  top: 62%;
  left: 86%;
  cursor: pointer;
}
.headset-icon-CD-unit4-page6-2 {
  position: absolute;
  padding: 5px;
  bottom: 29%;
  left: 24%;
  cursor: pointer;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  
}
@media (max-width: 1024px) {
  
}
@media (max-width: 820px) {
 
}
