.click-icon-review9-page2-2 {
  position: absolute;
  padding: 5px;
  top: 3%;
  left: 84%;
  cursor: pointer;
}

.click-icon-review9-page2-3 {
  position: absolute;
  padding: 5px;
  bottom: 47.5%;
  left: 62%;
  cursor: pointer;
}
.click-icon-review9-page2-1 {
  position: absolute;
  padding: 5px;
  bottom: 23.5%;
  right: 24.2%;
  cursor: pointer;
}
.click-icon-review9-page2-4{
   position: absolute;
  padding: 5px;
  bottom: 20.5%;
  right: 30%;
  cursor: pointer;
}
