.headset-icon-CD-unit5-page6-1 {
  position: absolute;
  padding: 5px;
  top: 4%;
  left: 36%;
  cursor: pointer;
}

.click-icon-unit5-page6-1 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 70.5%;
  cursor: pointer;
}
.click-icon-unit5-page6-2 {
  position: absolute;
  padding: 5px;
  top: 35.6%;
  left: 68.2%;
  cursor: pointer;
}
.headset-icon-CD-unit5-page6-2 {
  position: absolute;
  padding: 5px;
  bottom: 29%;
  left: 24%;
  cursor: pointer;
}
