.questions-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 30px;
}
@media (min-width: 1200px) {
  .questions-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}