.headset-icon-CD-unit2-page6-1 {
  position: absolute;
  padding: 5px;
  top: 4%;
  left: 36%;
  cursor: pointer;
}

.click-icon-unit2-page6-1 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 35%;
  cursor: pointer;
}
.click-icon-unit2-page6-2 {
  position: absolute;
  padding: 5px;
  top: 37.5%;
  left: 80.5%;
  cursor: pointer;
}
.headset-icon-CD-unit2-page6-2 {
  position: absolute;
  padding: 5px;
  bottom: 29%;
  left: 24%;
  cursor: pointer;
}
.click-icon-unit2-page6-3 {
  position: absolute;
  padding: 5px;
  bottom: 26.5%;
  left: 70%;
  cursor: pointer;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  
}
@media (max-width: 1024px) {
 
}
@media (max-width: 820px) {
 
}
