.click-icon-review5-page2-1 {
  position: absolute;
  padding: 5px;
  top: 3%;
  right: 24.5%;
  cursor: pointer;
}
.click-icon-review5-page2-2 {
  position: absolute;
  padding: 5px;
  top: 48.7%;
  left: 48%;
  cursor: pointer;
}

.click-icon-review5-page2-3 {
  position: absolute;
  padding: 5px;
  bottom: 25.5%;
  left: 22%;
  cursor: pointer;
}
.click-icon-review5-page2-4 {
  position: absolute;
  padding: 5px;
  bottom: 20.5%;
  right: 30%;
  cursor: pointer;
}
