.click-icon-review5-page1-1 {
  position: absolute;
  padding: 5px;
  top: 9%;
  left: 53.5%;
  cursor: pointer;
}

.click-icon-review5-page1-2 {
  position: absolute;
  padding: 5px;
  top: 39%;
  left: 28.5%;
  cursor: pointer;
}
.click-icon-review5-page1-3 {
  position: absolute;
  padding: 5px;
  top: 65.5%;
  left: 91%;
  cursor: pointer;
}
