.click-icon-unit6-page6-1 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 61%;
  cursor: pointer;
}
.click-icon-unit6-page6-2 {
  position: absolute;
  padding: 5px;
  top: 37.5%;
  left: 69.5%;
  cursor: pointer;
}
.click-icon-unit6-page6-3 {
  position: absolute;
  padding: 5px;
  top: 63.5%;
  left: 61%;
  cursor: pointer;
}

