.headset-icon-CD-unit3-page6-1 {
  position: absolute;
  padding: 5px;
  top: 4%;
  left: 36%;
  cursor: pointer;
}

.click-icon-unit3-page6-1 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 69%;
  cursor: pointer;
}
.click-icon-unit3-page6-2 {
  position: absolute;
  padding: 5px;
  top: 25.8%;
  left: 46.5%;
  cursor: pointer;
}.click-icon-unit3-page6-3 {
  position: absolute;
  padding: 5px;
  top: 73%;
  left: 28.5%;
  cursor: pointer;
}
.headset-icon-CD-unit3-page6-2 {
  position: absolute;
  padding: 5px;
  bottom: 29%;
  left: 24%;
  cursor: pointer;
}
