.CB-review4-p1-q1-title {
  font-size: 22px;
  margin-bottom: 20px;
}

.CB-review4-p1-q1-crossword-grid {
  display: inline-block;
}

.CB-review4-p1-q1-row {
  display: flex;
}

.CB-review4-p1-q1-drag-over {
  background-color: #e3f2fd;
  border: 2px dashed #1976d2;
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.CB-review4-p1-q1-cell {
  width: 35px;
  height: 35px;
  border: 1px solid #d2232a;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CB-review4-p1-q1-block {
  background: #f9e6dc;
}

.CB-review4-p1-q1-white {
  background: #ffffff;
}

.CB-review4-p1-q1-number {
  position: absolute;
  top: 1px;
  left: 3px;
  font-size: 12px;
  font-weight: bold;
  color: #000;
}

.CB-review4-p1-q1-letter {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  text-transform: lowercase;
}

.CB-review4-p1-q1-error-badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background: #ff2b2b;
  color: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 5;
  border: 2px solid white;
}

.CB-review4-p1-q1-puzzle-images-box {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
  justify-content: center;
}

.CB-review4-p1-q1-column-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.CB-review4-p1-q1-column-box .CB-review4-p1-q1-label {
  font-size: 20px;
  font-weight: 700;
  color: black;
  text-align: center;
}

.CB-review4-p1-q1-img-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.CB-review4-p1-q1-img-item .CB-review4-p1-q1-num {
  color: black;
  font-weight: 700;
  font-size: 20px;
}

.CB-review4-p1-q1-img-item img {
  width: 150px;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  background: white;
}

.CB-review4-p1-q1-grid-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 25px;
  gap: 45px;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .CB-review4-p1-q1-grid-container {
    flex-direction: row !important;
  }
}

@media (max-width: 1024px) {
  .CB-review4-p1-q1-grid-container {
    flex-direction: column-reverse;
  }
}
