.headset-icon-CD-unit7-page6-1 {
  position: absolute;
  padding: 5px;
  top: 5.5%;
  left: 18.5%;
  cursor: pointer;
}

.click-icon-unit7-page6-1 {
  position: absolute;
  padding: 5px;
  top: 5.5%;
  left: 18.5%;
  cursor: pointer;
}
.click-icon-unit7-page6-2 {
  position: absolute;
  padding: 5px;
  top: 27.5%;
  left: 45.7%;
  cursor: pointer;
}
.click-icon-unit7-page6-3 {
  position: absolute;
  padding: 5px;
  top: 67%;
  left: 36%;
  cursor: pointer;
}
.headset-icon-CD-unit7-page6-2 {
  position: absolute;
  padding: 5px;
  bottom: 29%;
  left: 24%;
  cursor: pointer;
}
